# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# User-specific files
.Ruserdata

# RStudio files
.Rproj.user/

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

# Omit extra references
**/References/Other_WQ_Reports/

## Notebook HTML Files
**/*.nb.html

# Folders used to hide content from GIT
**/drafts/
**/sources/
**/testing/
**/omitfromgit/